<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Public Home Page</title>
</head>
<body>
<h1>Welcome!</h1>
<p>This is a public page, accessible to everyone.</p>

<div sec:authorize="!isAuthenticated()">
    <p><a th:href="@{/oauth2/authorization/keycloak}">Login</a></p>
</div>

<div sec:authorize="isAuthenticated()">
    <p>Welcome, <span sec:authentication="name">User</span>!</p>
    <p><a th:href="@{/users}">Go to Users Page</a></p>
    <p sec:authorize="hasRole('ADMIN')"><a th:href="@{/admins}">Go to Admins Page</a></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</div>
</body>
</html>